/.luarc.json
*.xls*
*.DS_Store
*.zip
*.Rout
*.RData
*.doc*
*.ppt
*.csv
# Paper/*.pdf
# *.png
# */*/*.png
*.ods
*.dat
*.dta
*.dbf
*.exe
*.inf
*.lnk
*.ico
*.fla
*.sps
*.sav
*/*/*.dta
*/*.dta
*.dta
*.swf
*.db
*.ai
Data/*
/Data/
*/Data/*
*.aux
*.bbl
*.fdb_latexmk
*.synctex.gz
*.blg
*.log
# _*.R
Paper/Tax-Prod_cache/*
*/*.rdb
*/*.rdx
*/*.RData
.codegpt