
.inverse .remark-slide-number {
    display: none;
}

.last .remark-slide-number {
    display: none;
}

/* Table width = 100% max-width */

/* .remark-slide table{
    width: 90%;
} */

/* Change the background color to white for shaded rows (even rows) */
/* 
table.dataTable tbody {
    background-color: white;
    /* color: var(--text-color); */
  /* }
table.dataTable.display tbody tr.odd {
    background-color: white;
  } */
.remark-slide thead, .remark-slide tr:nth-child(odd) {
    background-color: white;
}  
/* */ 
/* :root {
    --inverse-text-color: #FFFFFF;
} */